text {
  text-anchor:       middle;
  dominant-baseline: central;
  font-size: 12pt;
  font-family: 'Times New Roman', Times, serif;
}

text.type {
  font-weight: bold;
}
text.desc {
  font-size: 10pt;
  font-style: italic;
}

a {
  fill: blue;
  text-decoration: underline;
}
text.desc a {
  font-style: normal;
}

.frame {
  stroke-width: 1pt;
  fill:         none;
}
.frame.light {
  opacity: 0.4;
}
rect.title {
  opacity: 0.2;
}

/* ----------------- Variable ---------------- */

.variable text.type { fill: #fff; }
.variable rect        { fill:   #60A917; }
.variable rect.title  { fill:   #2D7600; }
.variable .frame      { stroke: #2D7600; }

/* ----------------- Property ---------------- */

.property rect        { fill:   #E1D5E7; }
.property rect.title  { fill:   #B266FF; }
.property .frame      { stroke: #B266FF; }

/* ----------------- Entity ------------------ */

.entity rect        { fill:   #DAE8FC; }
.entity rect.title  { fill:   #6C8EBF; }
.entity .frame      { stroke: #6C8EBF; }

/* ---------------- Constraint --------------- */

.constraint rect        { fill:   #F8CECC; }
.constraint rect.title  { fill:   #B85450; }
.constraint .frame      { stroke: #B85450; }

/* ------------------ Arrows ----------------- */

.arrow path {
  stroke: black;
  mask:   url(#arrowMask);
  fill:   none;
}
.arrow text {
  font-size: 10pt;
  font-style: italic;
}

/* cut outs for arrows */
mask path {
  fill: #000;
}
mask rect {
  fill: #fff;
}

/* ------------------ Footer ----------------- */
#footer text {
  text-anchor:  end;
  font-size:    6pt;
  font-style:   italic;
}

#footer a {
  text-decoration: none;
}