text {
  text-anchor:       middle;
  dominant-baseline: central;
  font-size: 12pt;
  font-family: 'Times New Roman', Times, serif;
}

text.type {
  font-weight: bold;
}
text.desc {
  font-size: 10pt;
  font-style: italic;
}

a {
  fill: blue;
  text-decoration: underline;
}
text.desc a {
  font-style: normal;
}

.frame {
  stroke-width: 1pt;
  fill:         none;
}
.frame.light {
  opacity: 0.4;
}
rect.title {
  opacity: 0.2;
}

:root {
  --color-variable-main:  #2D7600;
  --color-variable-light: #60A917;
  --color-variable-dark:  #2D7600;

  --color-property-main:  #B266FF;
  --color-property-light: #E1D5E7;
  --color-property-dark:  #B266FF;

  --color-entity-main:  #6C8EBF;
  --color-entity-light: #DAE8FC;
  --color-entity-dark:  #6C8EBF;

  --color-ooi-main:     #a1c5f7;
  --color-matrix-main:  #b8d3f9;
  --color-context-main: #d0e2fb;

  --color-statmod-main:  #666666;
  --color-statmod-light: #DDDDDD;
  --color-statmod-dark:  #666666;

  --color-constraint-main:  #B85450;
  --color-constraint-light: #F8CECC;
  --color-constraint-dark:  #B85450;
}

/* ----------------- Variable ---------------- */

.variable text.type { fill: #fff; }
.variable rect        { fill:   var(--color-variable-light); }
.variable rect.title  { fill:   var(--color-variable-main); }
.variable .frame      { stroke: var(--color-variable-dark); }

/* ----------------- Property ---------------- */

.property rect        { fill:   var(--color-property-light); }
.property rect.title  { fill:   var(--color-property-main); }
.property .frame      { stroke: var(--color-property-dark); }

/* ------------ Entity / System -------------- */

.entity rect,
.system rect         { fill:   var(--color-entity-light); }
.entity rect.title
.system rect.title   { fill:   var(--color-entity-main); }
.entity .frame,
.system .frame       { stroke: var(--color-entity-dark); }

/* -------------- Entity Types --------------- */

.entity.ooi           rect,
.system.ooi           rect { fill: var(--color-ooi-main); }
.entity.matrix        rect,
.system.matrix        rect { fill: var(--color-matrix-main); }
.entity.contextobject rect,
.system.contextobject rect { fill: var(--color-context-main); }

/* ---------- Statistical Modifier ----------- */

.statmod rect        { fill:   var(--color-statmod-light); }
.statmod rect.title  { fill:   var(--color-statmod-main); }
.statmod .frame      { stroke: var(--color-statmod-dark) }

/* ---------------- Constraint --------------- */

.constraint rect        { fill:   var(--color-constraint-light) }
.constraint rect.title  { fill:   var(--color-constraint-main); }
.constraint .frame      { stroke: var(--color-constraint-dark); }

/* ------------------ Arrows ----------------- */

.arrow path {
  stroke: black;
  mask:   url(#arrowMask);
  fill:   none;
}
.arrow text {
  font-size: 10pt;
  font-style: italic;
}

/* cut outs for arrows */
mask path {
  fill: #000;
}
mask rect {
  fill: #fff;
}

/* ------------------ Footer ----------------- */
#footer text {
  text-anchor:  end;
  font-size:    6pt;
  font-style:   italic;
}

#footer a {
  text-decoration: none;
}